<!DOCTYPE html>
<html lang="fa">
<style>
                
        body, html {
            height: 100%;
            margin: 0;
        }
        
        .bg {
            /* The image used */
            background-image: url("https://www.2rph.org.au/2rph_admin/resources/program-lunchtime-book-1-w843h360.jpg");
            
            /* Full height */
            height: 100%; 
        
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        } 

    body {
        background-color: beige;
    }

    img {
        
        margin-left: auto;
        margin-right: auto;

        margin-top: 50px;
        margin-bottom: 50px;
        
     
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #111;
    }

    .centre {
        display: block;
        margin-left: auto;
        align-content: center;
        text-align: center;
        margin-right: auto;
    }
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .word-wrap {
        word-wrap: break-word;
    }

    h5,
    h2,
    h6 {
        text-align: right;
        direction: rtl;
    }

    div {
        border-radius: 25px;
     
    }
</style>

<head>
    <link href="http://getbootstrap.com.vn/examples/equal-height-columns/equal-height-columns.css" rel="stylesheet">
    <title>{{ book.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body   class="bg">
    <div class="container" >
        <div class="row row-eq-height" class="text-right">
                <ul>
                        <li><a  href="{% url 'ketabgard:book_list' %}">لیست کتاب ها</a></li>
                        
                      </ul>
        </div>
      <div class="row row-eq-height" class="text-right">
            <div class="col-4 centre" >
            
            </div>
            <div class="col-4" >
                <div class="row row-eq-height" class="text-right" ></div>
                <div class="row row-eq-height" class="text-right">
                       <div class="col-8 centre" >
                                <img src="http://funnypicture.org/wallpaper/2015/05/funny-cat-books-7-high-resolution-wallpaper.jpg" class="img-thumbnail">
                        </div>
                    
                </div>
                <div class="row row-eq-height" class="text-right">
                        <div class="col-12 centre" style="background-color: #c3b8b2">
                                  {{ user.username }}
                        </div>
                </div>
            </div>
            <div class="col-4" >
                    <div class="row row-eq-height" class="text-right" >
                           
                            <div class="col-8 centre" style="background-color:#b2bec3">
                                    <a  href="{% url 'sabte_ahval:already_read' pk=user.pk%}">
                                   <h6>
                                            
                                            خوندم
                                   </h6> 
                                    </a>
                           </div>
                           
                    </div>  
                    <div class="row row-eq-height" class="text-right" >
                         
                            <div class="col-8 centre" style="background-color:#b2bec3"> 
                                    <a  href="{% url 'sabte_ahval:reading' pk=user.pk%}">
                                            <h6>
                                                     
                                                     دارم میخونم
                                            </h6> 
                                             </a>
                            </div>
                            
                            
                    </div>
                    <div class="row row-eq-height" class="text-right" >
                            
                            <div class="col-8 centre" style="background-color:#b2bec3" >
                                    <a  href="{% url 'sabte_ahval:to_read' pk=user.pk%}">
                                            <h6>
                                                     
                                               میخوام بخونم
                                            </h6> 
                                             </a>
                            </div>
                            
                    </div>
            </div>
        </div>
    </div>

</body>

</html>