<!DOCTYPE html>
<html lang="fa">
<style>
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        height: auto;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #111;
    }
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .centre {
        display: block;
        margin-left: auto;
        align-content: center;
        text-align: center;
        margin-right: auto;
    }

    .word-wrap {
        word-wrap: break-word;
    }

    div {

        border-radius: 10px;
     
        
    }
    @font-face { 
        font-family: Samim;
        src: url(https://cdn.rawgit.com/rastikerdar/sam-font/v2.0.1/dist/Samim.woff);
        font-weight: normal;
         }
    * {font-family: Samim;}
             
    body, html {
        height: 100%;
        margin: 0;
    }
    
    .bg {
        /* The image used */
        background-image: url("https://www.norfolk.gov.uk/-/media/norfolk/images/homepage-carousel/library-books-1500-x-662.jpeg");
    
        /* Full height */
        height: 100%; 
    
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } 

</style>

<head>
    <link href="http://getbootstrap.com.vn/examples/equal-height-columns/equal-height-columns.css" rel="stylesheet">
    <title>{{ book.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body class="bg" >
    <div class="container" >
        <div class="row row-eq-height centre">
            <div class="col-4 ">
                    <div class="row row-eq-height" class="text-right">
                    <ul>
                            <li><a  href="{% url 'sabte_ahval:user_profile'  pk=user.pk %}">صفحه‌ی پروفایل</a></li>
                            
                          </ul>
                          </div>
            </div>
            <div class="col-8"  style="background-color:#2b2222">

                <form class="form-inline">
                    <div class="form-group centre">
                            {{ form.search_title }}
                            {{ form.author }}
                            {{ form.publisher }}
                    </div>
                    <div style="color:white" class="form-group centre">
                        {% for cat in  form.categories%}
                        {{ cat }}
                        {% endfor %}
                        <input type="submit" class="btn btn-default" value="🔍">
                    </div>
                </form>
            </div>
        </div>
        
        <div class="row row-eq-height centre">
    {% if not books %}
        </div>
        <div class="row row-eq-height">
            <div class="col-12 centre">
                <h1 class="alert alert-danger">کتاب مورد نظر یافت نشد</h1>
            </div>
        </div>
    {% else %}
        <div class="col-12" style="background-color:#c3b8b2">
            <h1><b>کتاب‌ها</b></h1>
        </div>
    {% for book in books %} {% if forloop.counter0|divisibleby:3 %}
    </div>
    <div class="row row-eq-height">
        <div class="col-4" >
            <a href="{% url 'ketabgard:book_profile' book.id %}">
                <div class="row row-eq-height" >
                    <div class="col-12" style="height: 20rem; ">
                        <img class="img-thumbnail" src="{{ book.picture_path }}" alt="{{ book.title }}">
                    </div>
                </div>
                <div class="row row-eq-height" >
                    <div class="col-12 centre" style="background-color:#b2bec3">
                        {{ book.title }}
                    </div>
                </div>
            </a>
            <div class="row row-eq-height" >
                <div class="col-12 centre" style="background-color:#b2bec3">
                    {{ book.author.name }}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-4" >
            <a href="{% url 'ketabgard:book_profile' book.id %}">
                <div class="row row-eq-height">
                    <div class="col-12 " style="height: 20rem;">
                        <img class="img-thumbnail" src="{{ book.picture_path }}" alt="{{ book.title }}">
                    </div>
                </div>
                <div class="row row-eq-height" >
                    <div class="col-12 centre" style="background-color:#b2bec3">
                        {{book.title }}
                    </div>
                </div>
            </a>
            <div class="row row-eq-height">
                <div class="col-12 centre" style="background-color:#b2bec3">
                    {{ book.author.name }}
                </div>
            </div>
        </div>
    {% endif %} {% endfor %} {% endif %}
    </div>
</body>

</html>