<!DOCTYPE html>
<html lang="fa">
        <head>
                <link href="http://getbootstrap.com.vn/examples/equal-height-columns/equal-height-columns.css" rel="stylesheet">
                <title>{{ book.title }}</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                
             
               
            
            </head>
<style>
               
        body, html {
            height: 100%;
            margin: 0;
        }
        
        .bg {
            /* The image used */
            background-image: url("https://rozenbergdentalnyc.com/wp-content/uploads/2014/10/book-table-close-up-photo-wallpaper-1680x1050.jpg");
            
            /* Full height */
            height: 100%; 
        
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        } 

    body {
        background-color: beige;
    }

    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        height: auto;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .word-wrap {
        word-wrap: break-word;
    }

    h5,
    h2,
    h4,
    h6 {
        text-align: right;
        direction: rtl;
    }

    div {
        border-radius: 25px;
       
    }
    .m{
        width:125px;

    }
    @font-face { 
        font-family: Samim;
        src: url("https://cdn.rawgit.com/rastikerdar/sam-font/v2.0.1/dist/Samim.woff");
        font-weight: normal;
         }
    * {font-family: Samim;}
</style>



<body  class="bg">
    <div class="container" >
        <div class="row row-eq-height" class="text-right">
            <div class="col-8" >
                <div class="row row-eq-height" >
                    <div class="col-12" style="background-color:#c3b8b2">
                        <h2><b>
                                {{ book.title }}
                        </b>
                            

                        </h2>

                    </div>
                </div>
                <div class="row row-eq-height" >
                    <div class="col-6"  >
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-6"  >
                        <div class="row row-eq-height"  >
                            <div class="col-12" style="background-color:#b2bec3">
                                <h4>
                                    {{ book.author.name}}
                                </h4>
                            </div>
                        </div>
                        <div class="row row-eq-height" >
                            <div class="col-12" style="background-color:#b2bec3">
                                <h4>
                                    مترجم: {{ book.translator.name}}
                                </h4>
                            </div>
                        </div>
                        <div class="row row-eq-height" >
                            <div class="col-12" style="background-color:#b2bec3">
                                <h4>
                                    نشر: {{ book.publisher.name }}
                                </h4>
                            </div>
                        </div>
                        <div class="row row-eq-height" >
                            <div class="col-12" style="background-color:#b2bec3">
                                <h4>
                                    موضوع: {% for cat in book.category.all %} {{ cat.name }}, {% endfor %}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-eq-height" >
                    <div class="col-12 word-wrap" style="background-color:#b2bec3">
                        <h6>
                            {{ book.description}}
                        </h6>
                    </div>
                </div>
                {# temprory showing self comment #}
                    {# if user was logged in and doesnt comment in past and also read the book, comment form will be show #}
                    {% if user.is_authenticated and not self_comment.exists and already_read %}
                    <form action="{{ form.action_url }}" method="{{ form.method }}">
                        <div class="row row-eq-height" >
                            <div class="col-8" style="background-color:#dfe6e9">
                                {{ form.text }}
                            </div>
                            <div class="col-4" style="background-color:#dfe6e9">
                            {% for point in form.point %}
                                <div class="radio">
                                    {{ point }}
                                </div>
                            {% endfor %}
                                {% csrf_token %}
                                <input type="submit" class="btn btn-default" value="💬">
                            </div>
                    </div>
                </form>
                {% endif %}
                {% for comment in comments reversed%}
                <div class="row text-right">
                        {% if comment.user.first_name %}
                        <div class="col-10" style="background-color:#dfe6e9">{{ comment.text }} </div>                        
                        <div class="col-2" style="background-color:#dfe6e9">
                            <b>{{ comment.user.first_name }}</b>
                        </div> 
                        {% else %}
                        <div class="col-10" style="background-color:#dfe6e9">{{ comment.text }} </div>                          
                        <div class="col-2" style="background-color:#dfe6e9">
                            <b>{{ comment.user.username }} </b>
                        </div> 
                        {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="col-4" >
                <img class="rounded mx-auto d-block img-thumbnail" margin="auto" src="{{ book.picture_path }}" alt="{{ book.title }}">
                <div class="row">
                {% if not already_read %}
                <form action="{% url 'ketabgard:add_to_already_read_list' %}" method="POST">
                    <input type="hidden" name="book_pk" value="{{ book.id }}"> {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-md m" >خواندم</button>
                </form>
                {% else %}
                <form action="{% url 'ketabgard:remove_from_already_read_list' %}" method="POST">
                    <input type="hidden" name="book_pk" value="{{ book.id }}"> {% csrf_token %}
                    <button type="submit" class="btn btn-default btn-md m">نخواندم</button>
                    {% endif %}
                </form>
                {% if not reading %}
                <form action="{% url 'ketabgard:add_to_reading_list' %}" method="POST">
                    <input type="hidden" name="book_pk" value="{{ book.id }}"> {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-md m">دارم میخونم</button>
                </form>
                {% else %}
                <form action="{% url 'ketabgard:remove_from_reading_list' %}" method="POST">
                    <input type="hidden" name="book_pk" value="{{ book.id }}"> {% csrf_token %}
                    <button type="submit" class="btn btn-default btn-md m">انصراف از مطالعه </button>
                    {% endif %}
                </form>
                {% if not to_read %}
                <form action="{% url 'ketabgard:add_to_to_read_list' %}" method="POST">
                    <input type="hidden" name="book_pk" value="{{ book.id }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-md m">میخوام بخونم</button>
                </form>
                    {% else %}
                <form action="{% url 'ketabgard:remove_from_to_read_list' %}" method="POST">
                    <input type="hidden" name="book_pk" value="{{ book.id }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default btn-md m">انصراف</button>
                    {% endif %}
                </form>
            </div> 
            </div>

        </div>
    </div>
</body>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [1, 2, 3],
            datasets: [{
                label: 'نظرات کاربران',
                data: [
                    {{ 1_points }},
            {{ 2_points }},
                    {{ 3_points }}
                        ],
    backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ],
        borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
            borderWidth: 1
                }]
            },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
        });
</script>

</html>